.margin__bottom--small {
  margin-bottom: 1.6rem;
}

.margin__bottom--medium {
  margin-bottom: 2.4rem;
}

.margin__bottom--large {
  margin-bottom: 4.8rem;
}

.margin__top--small {
  margin-top: 1.6rem;
}

.margin__top--medium {
  margin-top: 2.4rem;
}

.margin__top--large {
  margin-top: 4.8rem;
}
