.filter {
  border: 1px solid var(--color-grey-200);
  background-color: var(--color-grey-50);
  box-shadow: var(--shadow-small);
  border-radius: var(--border-radius-medium);
  padding: 0.4rem;
  display: flex;
  gap: 0.4rem;
}

.filter__button {
  background-color: var(--color-grey-50);
  border: none;
  border-radius: var(--border-radius-small);
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.44rem 0.8rem;
  transition: all 0.3s;

  &:hover:not(:disabled) {
    background-color: var(--color-theme-600);
    color: var(--color-grey-50);
  }

  &--active {
    background-color: var(--color-theme-600);
    color: var(--color-grey-50);
  }
}
