.booking-table {
  &__header {
    background-color: var(--color-theme-600);
    border-bottom: 1px solid var(--color-grey-100);
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 600;
    color: var(--color-grey-50);
  }
}
