/* Global */
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  transition: color 0.3s, background-color 0.3s;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

select:disabled,
input:disabled {
  background-color: var(--color-grey-200);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--color-theme-600);
  outline-offset: -1px;
}

img {
  max-width: 100%;
}
