/* Global */
:root {
  /* Green */
  --color-theme-50: #e6f4ea;
  --color-theme-100: #cdecd6;
  --color-theme-200: #b4e4c1;
  --color-theme-500: #52b788;
  --color-theme-600: #40916c;
  --color-theme-700: #2d6a4f;
  --color-theme-800: #1b4332;
  --color-theme-900: #081c15;

  /* Grey Pallete */
  --color-grey-0: #fff;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  /* Supporting Colors */
  --color-blue-100: #d0f4f6;
  --color-blue-700: #028090;
  --color-green-100: #e9f5e1;
  --color-green-700: #197278;
  --color-yellow-100: #fef9c3;
  --color-yellow-700: #a16207;
  --color-silver-100: #e5e7eb;
  --color-silver-700: #374151;
  --color-indigo-100: #d7f0e5;
  --color-indigo-700: #2c6e49;

  --color-red-100: #fde2e2;
  --color-red-300: #f5a5a5;
  --color-red-700: #d92027;
  --color-red-800: #a71a1a;

  --backdrop-color: rgba(0, 128, 0, 0.1);

  --shadow-small: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-medium: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-large: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);
  --shadow-large2: 0 4px 8px rgba(0, 0, 0, 0.1);

  --border-radius-tiny: 3px;
  --border-radius-small: 5px;
  --border-radius-medium: 7px;
  --border-radius-large: 9px;
}
